@tailwind base;
@tailwind components;
@tailwind utilities;

#over {
    background-image: url(/images/over.svg);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-attachment: scroll;
}
#bg {
    background-image: url(/images/bg.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-attachment: scroll;
}

*:focus {
    outline: none;
}

.height-60 {
    height: 60px;
    transition: all .5s ease;
} 

input:-internal-autofill-selected {
    background-color: white !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.height-300 {
    height: 300px;
    transition: all 0.5s ease-out;
}

.topping-0 {
    top: 0px;
    transition: all 0.5s ease-out;
}

.shrink-away {
    @apply scale-0 duration-500;
}



@layer components {
    html {
        @apply scroll-smooth;
    }

    .btn {
        border-width: 1px;
        @apply inline-block rounded-2xl bg-white border-solid border-primary py-4 px-7 text-center text-sm font-extrabold uppercase text-black transition  hover:scale-105 hover:bg-secondary hover:text-white;
    }
    .heading {
        @apply mb-10 lg:mb-14;
    }
    .heading h6 {
        @apply mb-3 text-lg font-extrabold text-primary sm:mb-4;
    }
    .heading h4 {
        @apply text-2xl font-extrabold text-black dark:text-white sm:text-3xl lg:text-[40px] lg:!leading-[50px];
    }
    /* h1,h2,h2,h4 {
        @apply text-secondary;
    } */
    .portfolio-filter .filter.active button {
        @apply bg-secondary text-white;
    }
    .home-filter .filter.active button {
        @apply text-secondary;
    }
    .realestate-filter .filter.active button {
        @apply scale-105 bg-primary text-white;
    }

    /* Header */

    header .menus {
        @apply fixed top-0 z-[52] h-screen w-full max-w-sm gap-9 bg-white transition-all duration-500 ltr:-right-full rtl:-left-full dark:bg-gray-dark lg:static lg:h-auto lg:max-w-none;
    }
    header .menus > ul {
        @apply relative flex  flex-col divide-y divide-gray/10  font-bold text-black  lg:flex-row lg:items-center lg:gap-11 lg:divide-y-0  lg:p-0;
    }
    header .menus > ul li > a {
        @apply flex items-center justify-between py-4 px-4 transition hover:text-secondary dark:text-white dark:hover:text-secondary lg:px-0 lg:py-10 hover:lg:scale-110;
    }
    header .menus > ul li > a.active {
        @apply text-secondary lg:scale-110;
    }
    header .menus .submenu {
        @apply invisible z-50 mt-5 hidden grid-cols-1 gap-x-4 whitespace-nowrap rounded-lg py-3 text-sm font-medium text-black opacity-0 transition-all dark:text-white lg:absolute lg:top-full lg:left-1/2 lg:grid lg:min-w-[480px] lg:-translate-x-1/2 lg:grid-cols-2 lg:bg-[#F0F4F7] lg:shadow-lg lg:dark:bg-gray-dark;
    }
    .submenu {
        @apply group-hover:visible group-hover:mt-0 group-hover:grid group-hover:opacity-100;
    }
    header .menus .submenu a {
        @apply block py-2.5 px-8 transition hover:text-secondary lg:px-5 hover:lg:scale-105;
    }
    header .menus .submenu a.active {
        @apply text-secondary lg:scale-105;
    }

    /* Filter */

    .project.hidden {
        animation: hide 1s ease 0s 1 normal forwards;
        transform-origin: center;
    }
    .project.block {
        animation: show 1s ease 0s 1 normal forwards;
        transform-origin: center;
    }

    @keyframes hide {
        0% {
            transform: scale(1);
            visibility: visible;
        }
        100% {
            transform: scale(0);
            visibility: hidden;
        }
    }
    @keyframes show {
        0% {
            transform: scale(0);
            visibility: hidden;
        }
        100% {
            transform: scale(1);
            visibility: visible;
        }
    }
}

/* sticky header */
.sticky-header {
    @apply shadow-lg;
}

/* apex chart */

.dark .apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light,
.dark .apexcharts-canvas .apexcharts-xaxistooltip.apexcharts-theme-light {
    box-shadow: none;
    @apply border-[#BE2D25] bg-[#BE2D25] text-white;
}

.dark .apexcharts-canvas .apexcharts-xaxistooltip-bottom:before,
.dark .apexcharts-canvas .apexcharts-xaxistooltip-bottom:after {
    @apply border-b-[#BE2D25];
}

.dark .apexcharts-canvas .apexcharts-tooltip-series-group.apexcharts-active {
    @apply text-white;
}

.dark .apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    @apply border-[#180606] bg-[#180606];
}

.dark .apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light {
    box-shadow: none;
}

[dir='rtl'] .apexcharts-tooltip-marker {
    @apply mr-0 ml-2.5;
}
